.node-icon {
    font-size: 30px;
}

.level {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    left: 0;
}

.image-node {
    color: lightskyblue;
}

.folder-node {
    color: gray;
}
