.node-icon {
    width: 20px;
}

.level {
    display: flex;
    justify-content: space-evenly;

    padding-top: 20px;
    border: 1px solid darkseagreen;

    position: absolute;
    width: 100%;
    left: 0;
}

.image-node {
    color: lightskyblue;
}

.folder-node {
    color: gray;
}

.bold {
    font-weight: 600;
}
