.gallery-container-outer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.gallery-container-inner {
    border: 2px solid black;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
}


.grid-container {
    padding-top: 3px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: black;
}

.grid-item {
    min-width: 100px;
    padding: 2px;
    flex:19%;
    max-width:150px;

    flex-grow: 2;
    max-height: 150px;
    overflow: hidden;

    display:flex;
    justify-content: center;
    align-items: flex-start;

    /*display: block;*/
    /*width: 100px;*/
    /*float: left;*/
    /*overflow: hidden;*/

}

.secondary-img {
    width: 100%;

    /*min-width:100%;*/
    /*min-height:100%;*/
}

.primary-image-container {
    display: block;
    height:400px;
    width: 100%;
    float: left;
    overflow: hidden;
    background-color: black;
}

.primary-image {
    min-width:100%;
    min-height:100%;
}

.show {
    display: block;
}

.hide {
    display:none;
}

.expand-container {
    background-color: #fdfdfd54;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #7b7b7b;
    padding: 2px;
    position: absolute;
    margin: 5px;
}